<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
        xmlns:cewrap="http://typo3.org/ns/SBTheke/Cewrap/ViewHelpers"
        data-namespace-typo3-fluid="true">
<bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
<f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
<f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
<f:if condition="{columnConfig}">
    <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
</f:if>

<f:if condition="{containerContext}">
    <f:for each="{containerContext}" as="context">
        <f:variable name="containerConfig">{settings.responsiveimages.container.{context.CType}}</f:variable>
        <f:variable name="containerColumnConfig">{containerConfig.{data.colPos}}</f:variable>
        <f:if condition="{containerColumnConfig}">
            <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{containerColumnConfig.multiplier}" gutters="{containerColumnConfig.gutters}" corrections="{containerColumnConfig.corrections}" />
        </f:if>
    </f:for>
</f:if>

<f:variable name="cewrapClass">{data.frame_class}</f:variable>
<f:if condition="{data.layout}">
    <f:variable name="cewrapClass">{cewrapClass} frame-layout-{data.layout}</f:variable>
</f:if>
<f:if condition="{data.tx_cewrap_active}">
    <f:if condition="{data.tx_cewrap_type}">
        <f:variable name="cewrapClass">{cewrapClass} frame-type-{data.CType}</f:variable>
    </f:if>
    <f:if condition="{data.tx_cewrap_class_input}">
        <f:variable name="cewrapClass">{cewrapClass} {data.tx_cewrap_class_input}</f:variable>
    </f:if>
    <f:if condition="{data.tx_cewrap_class_select}">
        <f:variable name="cewrapClass">{cewrapClass} <cewrap:classSelect>{data.tx_cewrap_class_select}</cewrap:classSelect></f:variable>
    </f:if>
    <f:if condition="{data.tx_cewrap_id_input}">
        <f:variable name="cewrapId">{data.tx_cewrap_id_input}</f:variable>
    </f:if>
</f:if>

<f:if condition="{cewrapId}">
    <f:then>
        <a id="c{data.uid}"></a>
    </f:then>
    <f:else>
        <f:variable name="cewrapId">c{data.uid}</f:variable>
    </f:else>
</f:if>

<bk2k:frame
    id="{cewrapId}"
    type="{data.CType}"
    size="default"
    layout="{data.frame_layout}"
    frameClass="{cewrapClass}"
    frameAttributes="{frameAttributes}"
    spaceBefore="{data.space_before_class}"
    spaceAfter="{data.space_after_class}"
    options="{data.frame_options}"
    variants="{variants}"
    backgroundColor="{data.background_color_class}"
    backgroundImage="{backgroundImage.0}"
    backgroundImageOptions="{data.background_image_options}"
>
    <f:if condition="{data._LOCALIZED_UID}"><a id="c{data._LOCALIZED_UID}"></a></f:if>
    <f:render section="Before" optional="true"><f:render partial="DropIn/Before/All" arguments="{_all}" /></f:render>
    <f:render section="Header" optional="true"><f:render partial="Header/All" arguments="{_all}" /></f:render>
    <f:render section="Main"   optional="true" />
    <f:render section="Footer" optional="true"><f:render partial="Footer/All" arguments="{_all}" /></f:render>
    <f:render section="After"  optional="true"><f:render partial="DropIn/After/All" arguments="{_all}" /></f:render>
</bk2k:frame>
</html>
